.single {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  &__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 50px;
    &__img {
      width: 100%;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__images {
      display: flex;
      gap: 30px;
      &__img {
        width: 30%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__right {
    width: 45%;
    &__rating {
      padding: 10px 0;
    }
    &__title {
      padding-bottom: 10px;
    }
    &__desc {
      color: #6c7275;
      padding: 10px 0;
    }
    &__prices {
      display: flex;
      align-items: center;
      padding: 10px 0;
      gap: 20px;
      &__price {
        font-size: 24px;
        font-weight: 500;
      }
      &__old__price {
        font-size: 20px;
        text-decoration: line-through;
        color: #6c7275;
      }
    }
    &__timer {
      padding: 10px 0;
      border-bottom: 1.5px solid #e8ecef;
    }
    &__buttons {
      padding: 20px 0;
      width: 70%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      &__top {
        display: flex;
        gap: 20px;
      }
      &__counter {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #f5f5f5;
        font-size: 18px;
        padding: 5px;
        span {
          width: 20px;
        }
        button {
          font-size: 20px;
          padding: 5px;
          border: none;
          background: transparent;
        }
      }
      &__like {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: center;
        border: 2px solid #141718;
        border-radius: 5px;
        color: #141718;
        background: none;
      }
      &__add__cart {
        padding: 10px;
        color: #fff;
        background: #141718;
        border-radius: 5px;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        display: flex;
        width: 300px;
        p {
          width: 150px;
        }
        &__left {
          color: #6c7275;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .single {
    flex-direction: column;
    gap: 20px;
    &__left,
    &__right {
      width: 100%;
      gap: 10px;
    }
  }
}
@media (max-width: 500px) {
  .single {
    flex-direction: column;
    gap: 20px;
    &__left {
      width: 100%;
      &__img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 400px) {
  .single {
    flex-direction: column;
    gap: 20px;
    &__left {
      width: 100%;
      &__img {
        height: 250px;
      }
    }
    &__right {
      &__bottom {
        &__item {
          flex-direction: column;
        }
      }
    }
  }
}
